################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HHB/obj
/HHB/bin
/packages/CommonMark.NET.0.14.0/tools
/packages/CommonMark.NET.0.14.0/lib/dnxcore50
/packages/CommonMark.NET.0.14.0/lib/net20
/packages/CommonMark.NET.0.14.0/lib/net35-client
/packages/CommonMark.NET.0.14.0/lib/net40-client
/packages/CommonMark.NET.0.14.0/lib/netstandard1.0
/packages/CommonMark.NET.0.14.0/lib/portable-net40+sl50+wp80+win+wpa81+MonoAndroid10+MonoTouch10
/packages/CommonMark.NET.0.14.0/lib/portable-net45+wp80+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10
/packages/CommonMark.NET.0.14.0/CommonMark.NET.0.14.0.nupkg
